<% provide(:title, 'About Us') %>
<div class="center hero-unit">
<h1>About Us</h1>
<h2>This is our demo for this site. It remains a work in progress. </h2>
<%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
<h3><br>Don't have an account?</h3>
<br>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>